<div class="thumbnail text-center">
    {% if user.is_authenticated %}

        <h4>{{ user.username }}</h4>

        <a class="btn btn-primary" href="{% url 'main:logout' %}">Sign out</a>

        {% if user.is_staff %}<a href="/admin/">office</a>{% endif %}

    {% else %}

        <form action="{% url 'main:login' %}" method="post" class="form-row">

            {% csrf_token %}
            <input type="text"
                   class="form-control form-group"
                   placeholder="email"
                   value="{{ login }}"
                   name="username">

            <input type="password"
                   class="form-control form-group"
                   placeholder="password"
                   value=""
                   name="password">

            <input type="submit"
                   class="btn btn-primary"
                   value="Sing in">

            <a href="{% url 'main:registration' %}">Register now</a>
        </form>

    {% endif %}
</div>