{% load staticfiles %}

<div class="container-fluid">
    <div class="container header">
        <div class="row text-center menu-center-vertical">
            <div class="col-md-3">
                <a href="{% url 'main:index' %}">
                    <img src="{% static 'icon/logo-head.gif' %}">
                </a>
            </div>
            <div class="col-md-3">
                +7 (928) 294-63-63
                <br>
                <b class="fa fa-whatsapp"></b>
                <b class="fa fa-phone"></b>
            </div>
            <div class="col-md-3">
                С 9:00 ДО 21:00
                <br>
                <b class="accent-color">КРУГЛОСУТОЧНАЯ</b>
                <br>
                ВЫДАЧА АВТОМОБИЛЕЙ
            </div>
            <div class="col-md-3">
                МЫ В СОЦИАЛЬНЫХ СЕТЯХ
                <br>
                <a href="http://www.vk.com" target="_blank"><b class="fa fa-vk"></b></a>
                <a href="http://www.twitter.com" target="_blank"><b class="fa fa-twitter accent-color"></b></a>
                <a href="http://www.instagram.com" target="_blank"><b class="fa fa-instagram"></b></a>
                <a href="http://www.telegram.org" target="_blank"><b class="fa fa-telegram"></b></a>
                <a href="http://www.ok.ru" target="_blank"><b class="fa fa-odnoklassniki-square"></b></a>
            </div>
        </div>
    </div>
</div>