{% load staticfiles %}

<div class="container-fluid" style="background-color: lightgray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><b>ПРОКАТ АВТОМОБИЛЕЙ</b></h1>
                <p>
                    <b>Сделать свой отдых на море и в горах гораздо более качественным и приятным Вам поможет прокат
                        авто в
                        Сочи. Мы предлагаем взять авто в аренду в Сочи на выгодных условиях. Получить новую, технически
                        исправную машину любого класса можно непосредственно на железнодорожном вокзале или в аэропорту
                        «Адлер»,
                        без водителя, в круглосуточном режиме, недорого. Цены на автопрокат в Сочи в нашей компании
                        чрезвычайно
                        конкурентоспособны и доступны, в чём Вы можете немедленно убедиться на сайте.
                    </b>
                </p>
                <h4 class="text-center"><a href="#">Подробнее</a></h4>
            </div>
        </div>
    </div>
</div>
