{% load staticfiles %}

<div class="container" style="padding: 1%;">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-2 ">

            <img src="{% static 'icon/icon-abhazia.gif' %}">
            <br>
            АРЕНДА
            <br>
            АВТОМОБИЛЯ
            <br>
            ДЛЯ ПОЕЗДКИ
            <br>
            В АБХАЗИЮ
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 ">
            <img src="{% static 'icon/icon-car.gif' %}">
            <br>
            МИНИМУМ
            <br>
            ДОКУМЕНТОВ,
            <br>
            ПРОБЕГ 500 КМ
            <br>
            В СУТКИ
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 ">
            <img src="{% static 'icon/icon-air.gif' %}">
            <br>
            ПОДАЧА АВТО
            <br>
            В АЭРОПОРТ И
            <br>
            ПО ВАШЕМУ
            <br>
            АДРЕСУ
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
