<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"/>
    {% block js %}
    {% endblock %}
</head>
<body>
{% block h1 %}
{% endblock %}
<hr>

<div class="menu_class">
    <ul>
        <li class="{% if page == 'main' %}active{% endif %}">
            <a href="{% url 'main:main' %}">main</a>
        </li>
        <li class="{% if page == 'about' %}active{% endif %}">
            <a href="{% url 'main:about' %}">about me</a>
        </li>
    </ul>
    <hr>
</div>

<div class="auth">
    {% if errors != False %}
        <p> you logged in as {{ username }}</p>
    {% else %}
        <form method="post" action="{% url 'main:login' %}">
        {% csrf_token %}
        <input type="text" name="login" value="{{ username }}" placeholder="login">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    {% endif %}
</div>

{% block content %}
{% endblock %}

</body>
</html>